.vscode

# These need to be added manually, in compliance with SAE licensing of standards
recipes-core/base-files/files/J1939db.json
recipes-core/base-files/files/J1708_201609.pdf.txt
recipes-core/base-files/files/J1587_201301.pdf.txt
recipes-core/base-files/files/J1587_201301.pdf
recipes-core/base-files/files/J1708_201609.pdf

live-install/*.tgz
