[Unit]
Description=Configure CAN Netdev LED on boot
After=network.target rename-can-itf.service
Requires=network.target
Wants=rename-can-itf.service

[Service]
Type=oneshot
ExecStart=/usr/bin/can-netdev-led 0 rx
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
