# warning: logs should be rotated
[Unit]
Description=J17084TRUCKSDuck Service
After=network.target remoteproc.target

[Service]
Type=simple
#Vebose logging option
#ExecStart=/usr/bin/j17084truckduck_host -v -l /var/log/j17084truckduck.log
ExecStart=/usr/bin/j17084truckduck_host
Restart=on-failure
User=root
Environment=PYTHONUNBUFFERED=1


[Install]
# start PLC service by default (only one of the two can run concurrently)
#WantedBy=multi-user.target
