# warning: logs should be rotated
[Unit]
Description=PLC4TRUCKSDuck Service
After=network.target remoteproc.target

[Service]
Type=simple
#verbose logging option
#ExecStart=/usr/bin/plc4trucksduck_host -v -l /var/log/plc4trucksduck.log
ExecStart=/usr/bin/plc4trucksduck_host
Restart=on-failure
Environment=PYTHONUNBUFFERED=1
User=root

[Install]
WantedBy=multi-user.target

