# POKY_BBLAYERS_CONF_VERSION is increased each time build/conf/bblayers.conf
# changes incompatibly
POKY_BBLAYERS_CONF_VERSION = "2"

BBPATH = "${TOPDIR}"
BBFILES ?= ""

BBLAYERS ?= " \
  ${FULL_YOCTO_DIR}/meta \
  ${FULL_YOCTO_DIR}/meta-poky \
  ${FULL_YOCTO_DIR}/meta-yocto-bsp \
  ${FULL_YOCTO_DIR}/meta-openembedded/meta-oe \
  ${FULL_YOCTO_DIR}/meta-openembedded/meta-python \
  ${FULL_YOCTO_DIR}/meta-python2 \
  ${FULL_YOCTO_DIR}/meta-openembedded/meta-networking \
  ${FULL_YOCTO_DIR}/meta-jupyter \
  ${FULL_YOCTO_DIR}/meta-arm/meta-arm-toolchain \
  ${FULL_YOCTO_DIR}/meta-arm/meta-arm \
  ${FULL_YOCTO_DIR}/meta-ti/meta-ti-bsp \
  ${FULL_YOCTO_DIR}/meta-ti/meta-ti-extras \
  ${FULL_YOCTO_DIR}/meta-ti/meta-beagle \
  ${FULL_YOCTO_DIR}/meta-tcat \
  "
